{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
    <h1>Season index:</h1>
    <a href="{{ path('app_season_new') }}"  class="link">Create new Season</a>

    <table class="table">
        <thead>
            <tr>
                <th>Program</th>
                <th>Season</th>
                <th>Year</th>
                <th>Description</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.program.title }}</td>
                <td>{{ season.number }}</td>
                <td>{{ season.year }}</td>
                <td>{{ season.description }}</td>
                <td>{{ season.id }}</td>
                <td>
                    <a href="{{ path('app_season_show', {'id': season.id}) }}" class="link">show</a>
                    <a href="{{ path('app_season_edit', {'id': season.id}) }}" class="link">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
