{% extends 'base.html.twig' %}

{% block title %}{{ program.title }} | Season: {{ season.number }}{% endblock %}

{% block body %}
    <div class="seasonShowContainer">

        <div class="programSeasonShow" style="background-image: url('{{program.poster}}');background-size: cover">
            {#            <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">#}
            <div class="programInfo">
                <h1 class="mt-0">{{ program.title }}</h1>
                <p>{{ program.synopsis }}</p>
                <h4>Season: {{ season.number }} - {{ season.year }}</h4>
                <h4>Episode: {{ episode.number }} - {{ episode.title }}</h4>
                <p>{{ episode.synopsis }}</p>
            </div>
            <a href="{{ path("program_season_show", { program: program.id, season: season.id }) }}">
                Back
            </a>
        </div>

    </div>

{% endblock %}