{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>All the series: </h1>
    <div class="program-index-container">

    {% for program in programs %}
        <a href="{{ path("program_show", { id: program.id }) }}" class="link">
        <div class="programCard">
            <div class="ProgramCoverDiv">
            <img src="{{ program.poster }}" class="programCover" alt="{{ program.title }}"/>
            </div>
            <div class="ProgramInfo">
            <h2>{{ program.title }}</h2>
            <h4>Category: {{ program.category.name }}</h4>
            <p class="card-text">{{ program.synopsis }}</p>
            </div>
        </div>
        </a>
    {% else %}
        No series found.
    {% endfor %}
    </div>
{% endblock %}
