{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>All the series: </h1>
    <div class="program-index-container">

        {% for program in programs %}
            <a href="{{ path("program_show", { id: program.id }) }}" class="w_link">
                <div class="indexProgramCard">
                    <div class="indexProgramCoverDiv" style="background-image: url('{{ program.poster }}');background-size: cover">
                        {#            <img src="{{ program.poster }}" class="indexProgramCover" alt="{{ program.title }}"/>#}
                        <h3 class="programTitle">{{ program.title }}</h3>
                    </div>
                    <div class="indexProgramInfo">
                        <h6>Category: {{ program.category.name }}</h6>
                        <p>{{ program.synopsis }}</p>
                    </div>
                </div>
            </a>
        {% else %}
            No series found.
        {% endfor %}
    </div>
{% endblock %}