{% extends 'base.html.twig' %}

{% block title %}{{ program.title }} | Season: {{ season.number }}{% endblock %}

{% block body %}
    <div class="pageContainer">

        <div class="programSection">
            <img class="programPoster" src="{{program.poster}}" alt="{{ program.title }}">
            <div class="programInfo">
                <h1 class="mt-0">{{ program.title }}</h1>
                <p>{{ program.synopsis }}</p>
                <a href="{{ path("program_show", { id: program.id }) }}" class="link">
                    Back
                </a>
            </div>
        </div>

        <div class="listSection">
            <h3>Season {{ season.number }} - {{ season.year }}</h3>
            <h3>Episodes:</h3>
            {% for episode in episodes %}
                <div class="listInfo">
                    <a href="{{ path("program_episode_show", { program: program.id, season: season.id, episode: episode.id }) }}" class="link">
                    <p class="itemName">Episode: {{episode.number}}</p>
                    </a>
                    <p class="itemDescription">Title: {{episode.title}}</p>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}