{% extends 'base.html.twig' %}

{% block title %}Program: {{ program.title }}{% endblock %}

{% block body %}
    <div class="pageContainer">

    <div class="programSection">
        <img class="programPoster" src="{{program.poster}}" alt="{{ program.title }}">
        <div class="programInfo">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.synopsis }}</p>
            <p>Category: {{ program.category.name }}</p>
        </div>
        <a href="{{ path('program_list') }} " class="link">
            Return to list of programs
        </a>
    </div>

    <div class="listSection">
        <h1>Seasons:</h1>
        {% for season in program.seasons %}
            <div class="listInfo">
                <a href="{{ path("program_season_show", { program: program.id, season: season.id }) }}" class="link">
                <p class="itemName">Season {{season.number}}</p>
                </a>
            <p class="itemDescription">Year: {{season.year}}</p>
            </div>
        {% endfor %}
    </div>

    </div>
{% endblock %}