{% extends 'base.html.twig' %}

{% block title %}Program: {{ program.title }}{% endblock %}

{% block body %}
    <div class="programShowContainer">

    <div class="program">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.synopsis }}</p>
            <p>Category: {{ program.category.name }}</p>
        </div>
        <a href="{{ path('program_index') }} " class="back_link">
            Return to list of programs
        </a>
    </div>

    <div class="seasonList">
        {% for season in program.seasons %}
            <div class="seasonListInfo">
                <a href="{{ path("program_season_show", { program: program.id, season: season.id }) }}" class="link">
                <p>Season {{season.number}}</p>
                </a>
            <p>Year: {{season.year}}</p>
            </div>
        {% endfor %}
    </div>

    </div>
{% endblock %}